{% extends "base.html" %}

{% block content %}
<form action="/leverage" method="GET" target="_blank">
  <table id="data" class="table" style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 70%;">
    </colgroup>
    <tbody>
      <tr>
        <td><p><b>Ticker: </b></p></td>
        <td><input type="text" name="ticker" /></td>
      </tr>
      <tr>
        <td><p><b>Expiration: </b></p></td>
        <td><input type="text" name="expiration" /></td>
      </tr>
      <tr>
        <td><p><b>Sort by Highest Leverage: </b></p></td>
        <td><input type="checkbox" name="sort" value="True" checked /></td>
      </tr>
      <tr>
        <td><p><b></b></p></td>
        <td align="right"><p><input type="submit" value="submit" text-align=center/></p></td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
