{% extends "base.html" %}

{% block content %}
  <title>{{ title }}</title>
  <table id="title_table" class="table">
    <thead>
      <tr>
        <form action="/download" method="GET" target="_blank">
          <td align="right">
            <p><input type="submit" value="Download" text-align=center/></p>
          </td>
        </form>
      </tr>
    </thead>
  </table>
  <table id="data" name="data" class="table table-striped">
    <thead>
      <tr>
        <th>Option</th>
        <th>Stock Price</th>
        <th>Option Price</th>
        <th>Option Delta</th>
        <th>Leverage</th>
      </tr>
    </thead>
    <tbody>
      {% for strike in strikes %}
        <tr>
          <td>{{ strike.option }}</td>
          <td>{{ strike.price }}</td>
          <td>{{ strike.option_price }}</td>
          <td>{{ strike.option_delta }}</td>
          <td>{{ strike.leverage }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
